.root {
	/* Panel colors */
	-fx-base: white;
	-off-white: rgb(207, 207, 207);
	-cancel: rgb(255, 75, 75);
	-selected: rgb(15, 147, 255);

	/* Defaults */
	-fx-background: -fx-base;
}


/* Buttons */
.button {
	-fx-background-color: -fx-base;
	-fx-background-radius: 0;
	-fx-border-width: 1;
	-fx-border-color: -off-white;
	-fx-cursor: hand;
}
.button:hover {
	-fx-border-color: -selected;
}
.button:pressed {
	-fx-border-color: -selected;
	-fx-background-color: -selected;
}
.cancel-button:hover, 
.remove-button:hover {
	-fx-border-color: -cancel;
}
.cancel-button:pressed, 
.remove-button:pressed {
	-fx-border-color: -cancel;
	-fx-background-color: -cancel;
}

/* Menu bar */
.menu-bar .menu-button:hover, 
.menu-bar .menu-button:focused, 
.menu-bar .menu-button:showing {
    -fx-background: -off-white;
	-fx-background-radius: 3px;
}
.menu-item {
    -fx-background: -off-white;
}
.menu-item .label{
    -fx-text-fill: black;
}

/* Table*/
.table-view,
.table-view .corner,
.table-view .column-header,
.table-view .column-header .label,
.table-view .column-header-background .filler {
	-fx-background-color: transparent;
	-fx-alignment: CENTER-LEFT;
}
.table-view .column-header-background{
    -fx-background-color: -fx-base;
}
.table-view .table-cell{
	-fx-border-color: transparent;
	-fx-alignment: CENTER-LEFT;
}
.table-row-cell:hover {
    -fx-text-background-color: -selected;
}
.table-row-cell:selected {
	-fx-background-color: transparent;
	-fx-border-color: -selected;
	-fx-text-background-color: -selected;
}

/* Scrollbar */
.scroll-bar{
	-fx-background-color: -fx-base;
	-fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
	-fx-background-color: -off-white;
	-fx-background-insets: 0 4 0 4;
	-fx-background-radius: 2em;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/* Text fields */
.text-field {
    -fx-background-color: -off-white, -fx-base;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: -selected, -fx-base;
}

/* Hyperlink */
.hyperlink:focused {
    -fx-border-width: 0;
}